.Toolbar{
    height: 80px;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background-color: #37003C;
    display: flex;
    align-items:center; 
    box-sizing: border-box;
    /* z-index: 90; */
}
.LogoTitleContainer{
    display: flex;
    flex:1.5 ;
    align-items: center;
    justify-content: flex-start;
}
.Logo{
    height:80px;
}
.Title{
    font-size: 25px;
    font-weight: bold;
    color: white;    
}
.Standings{
    flex: 1;
    justify-content: flex-end;
}
