.Container{
    display: flex;
    justify-content: center;
}
.Table{
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    margin: 10px;
}
.Table img{
    height:30px;
    width:30px;
}
.Table th,td{
    text-align: start;
    padding:0 10px;
    min-width: 20px;
}
.ClubName{
    min-width: 250px;
}
body{
    margin: unset;
}

.topTeams{
    background-color: #40bf80;
    color:#fff
}
.bottomTeams{
    background-color: #ff4d4d;
    color:#fff
}
.ascClubs:nth-child(n+17) ,.descClubs:nth-child(-n+4){
    background-color: #40bf80;
    color:#fff  
}
.ascClubs:nth-child(-n+3), .descClubs:nth-child(n+18) {
    background-color: #ff4d4d;
    color:#fff  
}
.sortIcon img{
    height:12px;
    width: 12px;
    margin-left: 8px;
}
.pointer{
    cursor: pointer;
}